mixin navbar()
    ul(class="nav")

        li(class="nav-link")
            div(istyle='display: flex;')
                a(href='/dashboard') Hitch
                a(href='/dashboard' style='font-style: italic; font-weight: bold;') Hike

        if (admin == 0 && driver == 1)
            li(class="nav-link")
                div(style='display: flex;')
                    a(href='/hikes') Hosted 
                    a(href='/hikes' style='font-style: italic; font-weight: bold; padding-left: 5px;') Hikes

        if (admin == 1)
            li(class="nav-link")
                div(style='display: flex;')
                    a(href='/hikes') Manage 
                    a(href='/hikes' style='font-style: italic; font-weight: bold; padding-left: 5px;') Hikes

        li(class="nav-link")
            div(style='display: flex;')
                a(href='/messages') My
                a(href='/messages' style='font-style: italic; font-weight: bold; padding-left: 5px;') Messages

        if (admin == 0)
            li(class="nav-link")
                div(style='display: flex;')
                    a(href='/account') My 
                    a(href='/account' style='font-style: italic; font-weight: bold; padding-left: 5px;') Account

        if (admin == 0)
            li(class="nav-link")
                div(style='display: flex;')
                    a(href='/driverProfiles') Driver 
                    a(href='/driverProfiles' style='font-style: italic; font-weight: bold; padding-left: 5px;') Profiles

        if (admin == 1)
            li(id='controlPanel' class="nav-link")
                div(style='display: flex;')
                    a(href='/controlPanel') Control 
                    a(href='/controlPanel' style='font-style: italic; font-weight: bold; padding-left: 5px;') Panel

        li(class="nav-link")
            div(style='display: flex;')
                a(href='/logout') Log 
                a(href='/logout' style='font-style: italic; font-weight: bold; padding-left: 5px;') Out